NODE_ENV=development
PORT=3002

# Tên service
SERVICE_NAME=order-service

MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/ordersDB?appName=<APP_NAME>
PRODUCT_SERVICE_URL=http://localhost:3001
